body{
  background: linear-gradient(rgb(255, 248, 231), rgb(0, 0, 0));
}

h1, h2, p{
  font-family: Arial;
}

h1{
  color: rgb(255, 0, 0);
}

h2{
  color: rgb(255, 255, 0);
}

p{
  color: rgb(130, 130, 130);
}
